<div class="uk-margin uk-width-1xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large ">
    <form class="uk-form-stacked uk-text-left" action="/category" method="POST">
        <div class="uk-grid uk-grid-stack">
            <div class="uk-width-3-4@m">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Enter Province Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" name="province" placeholder="Province" />
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Enter a Valid List of Province Counties</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" name="validCounties" placeholder="Counties in Province" />
                    </div>
                </div>
            </div>
            <div class=" uk-width-1-4@m uk-position-center-right" >
                <div class="uk-margin">
                    <button class="submit uk-button uk-button-primary uk-button-large uk-width-1-2">ADD</button>
                </div>
            </div>
        </div>
    </form>
</div>
