<div>
    <div class="uk-card uk-card-default uk-card-small uk-text-center uk-text-baseline uk-animation-scale-up">
        <div class="uk-card-media-top">
            <img src="{{url}}">
        </div>
        <div>
            <div class="uk-card-footer">
                <a href="/deleteimage/{{public_id}}/{{courseId}}">
                    <i class="far fa-trash-alt"></i></a>
            </div>
        </div>
    </div>
</div>