<div class="uk-container uk-margin-small">
  {{> title-card}}
</div>
<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
      {{#if adminUser}}
          {{> main-admin-menu }}
      {{else}}
          {{> main-menu }}
      {{/if}}
</div>

<div class="uk-container uk-margin-small">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center " uk-grid>
    <div class="uk-width-expand@m">
      {{> course-list }}
    </div>
  </div>
  {{> error }}
</div>
